.nav-prev, .nav-next {
  width: 56px;
  height: 56px;
  border: none;

  background-color: #0087ef;
  opacity: 1;
  top: 35%;
  z-index: 2;
}

.nav-prev { 
  left: 10px;
}

.nav-next {
  right: 10px;
}

.glide__slide:not(.glide__slide--active) {
  opacity: 0.5;
}